* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #D178FA;
    border-bottom: 1px solid #2F2F2F;
}

a:hover {
    border-bottom: none;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto+Mono:wght@300&display=swap');


body {
    font-size: 16px;
    padding: 20px; 

    font-family: 'Open Sans', sans-serif;
    color: #D178FA;
}

header {
    padding: 20px 0;
}

main {
    padding: 20px 0;
}

.social, .footer {
    padding: 5px 0;
}